* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.cell {
	width: 33%;
}

/*MEDIUM DEVICES*/
@media (min-width: 768px) {

}

/*LARGE DEVICES*/
@media (min-width: 992px) {

}

/*EXTRA LARGE DEVICES*/
@media (min-width: 1200px) {

}